# {{ playbook_name }}

## Overview

This playbook is part of the ansible-collection-workstation.

## Usage

```bash
ansible-playbook {{ playbook_path }}/{{ playbook_file }}
```

## Requirements

- Ansible 2.9 or higher
- Target hosts properly configured in inventory

## Variables

Document any important variables that should be set when running this playbook.

## Playbook Structure

```yaml
{{ playbook_content }}
```

## Molecule Tests

{% if molecule_exists -%}
This playbook includes molecule tests in the `molecule/` directory.

### Running Tests

```bash
cd {{ playbook_path }}
molecule test
```

### Test Scenarios

- **default**: Standard test scenario
{%- else -%}
No molecule tests are currently configured for this playbook.
{%- endif %}

## Examples

### Basic Usage

```bash
ansible-playbook {{ playbook_path }}/{{ playbook_file }} -i inventory
```

### With Variables

```bash
ansible-playbook {{ playbook_path }}/{{ playbook_file }} -i inventory -e "var1=value1 var2=value2"
```

## License

See the collection's LICENSE file.

## Author Information

See the collection's README for author information.
