#!/usr/bin/env {{ shell_to_use }}
set -exo pipefail

if [ -z "$1" ]; then
    echo "No user home path provided" >&2
    exit 1
fi

export ASDF_DATA_DIR="$1/.asdf"
export PATH="$ASDF_DATA_DIR/bin:$ASDF_DATA_DIR/shims:$PATH"

if [ ! -d "$ASDF_DATA_DIR" ]; then
    echo "ASDF_DATA_DIR '$ASDF_DATA_DIR' does not exist" >&2
    exit 1
fi

echo "Set ASDF_PATH to: $ASDF_PATH"

if [ -f "$ASDF_DATA_DIR/asdf.sh" ]; then
    . "$ASDF_DATA_DIR/asdf.sh"
else
    echo "ASDF initialization script not found at $ASDF_DATA_DIR/asdf.sh" >&2
    exit 1
fi
