---
user_setup_default_username: "{{ ansible_facts['distribution'] | lower }}"
user_setup_default_group: "{{ ansible_facts['distribution'] | lower }}"
user_setup_default_users:
  - username: "{{ ansible_facts['env']['USER'] if ansible_facts['os_family'] == 'Darwin' else 'Administrator' if ansible_facts['os_family'] == 'Windows' else user_setup_default_username }}"
    usergroup: "{{ 'staff' if ansible_facts['os_family'] == 'Darwin' else 'Administrators' if ansible_facts['os_family'] == 'Windows' else user_setup_default_group }}"
    sudo: true
    shell: "{{ 'powershell' if ansible_facts['os_family'] == 'Windows' else (ansible_facts['env']['SHELL'] | default('/bin/bash')).strip() | regex_replace('\\n', '') }}"
