---
asdf_username: "{{ ansible_facts['user_id'] | default(ansible_facts['user']) }}"
asdf_usergroup: "{{ (ansible_facts['os_family'] == 'Darwin') | ternary('staff', asdf_username) }}"
asdf_user_home: >-
  {{ (ansible_facts['os_family'] == 'Darwin') | ternary(ansible_facts['env']['HOME'],
     (asdf_username == 'root') | ternary('/root', '/home/' + asdf_username)) }}

asdf_bin_dir: "{{ (ansible_facts['os_family'] == 'Darwin') | ternary('/usr/local/bin', '/usr/local/bin') }}"
asdf_data_dir: "{{ asdf_user_home }}/.asdf"

asdf_shells:
  - "/usr/bin/zsh"
  - "/bin/zsh"
  - "/usr/bin/bash"
  - "/bin/bash"

asdf_shell: "{{ '/bin/zsh' if ansible_facts['distribution'] == 'MacOSX' else '/bin/bash' }}"

asdf_plugins:
  # renovate: datasource=github-tags depName=golang packageName=golang/go extractVersion=^go(?<version>.*)$
  - name: golang
    version: "1.25.6"
    scope: "global"
  # renovate: datasource=github-tags depName=python packageName=python/cpython extractVersion=^v(?<version>.*)$
  - name: python
    version: "3.14.3"
    scope: "global"
  # renovate: datasource=ruby-version depName=ruby packageName=ruby/ruby
  - name: ruby
    version: "4.0.1"
    scope: "global"
  # renovate: datasource=github-releases depName=helm packageName=helm/helm extractVersion=^v(?<version>.*)$
  - name: helm
    version: "4.1.0"
    scope: "global"
  # renovate: datasource=github-tags depName=kubectl packageName=kubernetes/kubernetes extractVersion=^v(?<version>.*)$
  - name: kubectl
    version: "1.35.0"
    scope: "global"
  # renovate: datasource=github-releases depName=packer packageName=hashicorp/packer extractVersion=^v(?<version>.*)$
  - name: packer
    version: "1.15.0"
    scope: "global"
  # renovate: datasource=github-releases depName=awscli packageName=aws/aws-cli
  - name: awscli
    version: "2.28.22"
    scope: "global"
  # renovate: datasource=node-version depName=nodejs packageName=node
  - name: nodejs
    version: "24.13.0"
    scope: "global"
