[*.sh]
# like -i=4
indent_style = space
indent_size = 4

binary_next_line   = true  # like -bn
switch_case_indent = true  # like -ci
space_redirects    = true  # like -sr
keep_padding       = true  # like -kp
{% if project_type == 'ansible' %}
[*.yml]
indent_style = space
indent_size = 2

[*.py]
indent_style = space
indent_size = 4
{% endif %}
{% if project_type == 'terraform' %}
[*.tf]
indent_style = space
indent_size = 2

[*.hcl]
indent_style = space
indent_size = 2
{% endif %}
{% if project_type == 'go' %}
[*.go]
indent_style = tab
{% endif %}
